In [ ]:
# KNN Based Collaborative Filtering
# 
# L YASRIL IMAM
#

In [1]:
import pandas as pd
import numpy as np

In [2]:
movies_df = pd.read_csv('movies.csv',usecols=['movieId','title'],
                       dtype={'moviesId':'int32','title':'str'})
movies_df

      movieId                                              title
0           1                                   Toy Story (1995)
1           2                                     Jumanji (1995)
2           3                            Grumpier Old Men (1995)
3           4                           Waiting to Exhale (1995)
4           5                 Father of the Bride Part II (1995)
5           6                                        Heat (1995)
6           7                                     Sabrina (1995)
7           8                                Tom and Huck (1995)
8           9                                Sudden Death (1995)
9          10                                   GoldenEye (1995)
10         11                     American President, The (1995)
11         12                 Dracula: Dead and Loving It (1995)
12         13                                       Balto (1995)
13         14                                       Nixon (1995)
14         15                            Cutthroat Island (1995)
15         16                                      Casino (1995)
16         17                       Sense and Sensibility (1995)
17         18                                  Four Rooms (1995)
18         19              Ace Ventura: When Nature Calls (1995)
19         20                                 Money Train (1995)
20         21                                  Get Shorty (1995)
21         22                                     Copycat (1995)
22         23                                   Assassins (1995)
23         24                                      Powder (1995)
24         25                           Leaving Las Vegas (1995)
25         26                                     Othello (1995)
26         27                                Now and Then (1995)
27         28                                  Persuasion (1995)
28         29  City of Lost Children, The (Cité des enfants p...
29         30  Shanghai Triad (Yao a yao yao dao waipo qiao) ...
...       ...                                                ...
9712   188189                         Sorry to Bother You (2018)
9713   188301                        Ant-Man and the Wasp (2018)
9714   188675                                      Dogman (2018)
9715   188751                Mamma Mia: Here We Go Again! (2018)
9716   188797                                         Tag (2018)
9717   188833              The Man Who Killed Don Quixote (2018)
9718   189043                                  Boundaries (2018)
9719   189111                                      Spiral (2018)
9720   189333               Mission: Impossible - Fallout (2018)
9721   189381                                    SuperFly (2018)
9722   189547                                Iron Soldier (2010)
9723   189713                              BlacKkKlansman (2018)
9724   190183                           The Darkest Minds (2018)
9725   190207                                        Tilt (2011)
9726   190209                 Jeff Ross Roasts the Border (2017)
9727   190213                                   John From (2015)
9728   190215                                Liquid Truth (2017)
9729   190219                                       Bunny (1998)
9730   190221  Hommage à Zgougou (et salut à Sabine Mamou) (2...
9731   191005                                     Gintama (2017)
9732   193565                          Gintama: The Movie (2010)
9733   193567  anohana: The Flower We Saw That Day - The Movi...
9734   193571                                Silver Spoon (2014)
9735   193573            Love Live! The School Idol Movie (2015)
9736   193579           Jon Stewart Has Left the Building (2015)
9737   193581          Black Butler: Book of the Atlantic (2017)
9738   193583                       No Game No Life: Zero (2017)
9739   193585                                       Flint (2017)
9740   193587                Bungo Stray Dogs: Dead Apple (2018)
9741   193609                Andrew Dice Clay: Dice Rules (1991)

[9742 rows x 2 columns]

In [13]:
rating_df = pd.read_csv('ratings.csv',usecols=['userId','movieId','rating']
                       ,dtype={'userId':'int32','movieId':'int32',
                              'rating':'float32'})
rating_df.head()

   userId  movieId  rating
0       1        1     4.0
1       1        3     4.0
2       1        6     4.0
3       1       47     5.0
4       1       50     5.0

In [14]:
df = pd.merge(rating_df,movies_df,on='movieId')
df.head()

   userId  movieId  rating             title
0       1        1     4.0  Toy Story (1995)
1       5        1     4.0  Toy Story (1995)
2       7        1     4.5  Toy Story (1995)
3      15        1     2.5  Toy Story (1995)
4      17        1     4.5  Toy Story (1995)

In [15]:
combine_movie_rating = df.dropna(axis=0,subset=['title'])
combine_movie_rating.head()

   userId  movieId  rating             title
0       1        1     4.0  Toy Story (1995)
1       5        1     4.0  Toy Story (1995)
2       7        1     4.5  Toy Story (1995)
3      15        1     2.5  Toy Story (1995)
4      17        1     4.5  Toy Story (1995)

In [16]:
movie_ratingCount = (combine_movie_rating.groupby(by=['title'])['rating'].
                    count().reset_index().rename(columns={'rating':'totalRatingCount'})
                    [['title','totalRatingCount']]
                    )
movie_ratingCount.head()

                                     title  totalRatingCount
0                               '71 (2014)                 1
1  'Hellboy': The Seeds of Creation (2004)                 1
2                   'Round Midnight (1986)                 2
3                      'Salem's Lot (2004)                 1
4                'Til There Was You (1997)                 2

In [21]:
rating_with_totalRatingCount = combine_movie_rating.merge(movie_ratingCount,
                                                    left_on='title',right_on='title',how='left')
rating_with_totalRatingCount.head()

   userId  movieId  rating             title  totalRatingCount
0       1        1     4.0  Toy Story (1995)               215
1       5        1     4.0  Toy Story (1995)               215
2       7        1     4.5  Toy Story (1995)               215
3      15        1     2.5  Toy Story (1995)               215
4      17        1     4.5  Toy Story (1995)               215

In [23]:
movie_ratingCount['totalRatingCount'].describe()

count    9719.000000
mean       10.375141
std        22.406220
min         1.000000
25%         1.000000
50%         3.000000
75%         9.000000
max       329.000000
Name: totalRatingCount, dtype: float64

In [25]:
popularity_threshold = 50
rating_popular_movie= rating_with_totalRatingCount.query('totalRatingCount >= @popularity_threshold')
rating_popular_movie.head()

   userId  movieId  rating             title  totalRatingCount
0       1        1     4.0  Toy Story (1995)               215
1       5        1     4.0  Toy Story (1995)               215
2       7        1     4.5  Toy Story (1995)               215
3      15        1     2.5  Toy Story (1995)               215
4      17        1     4.5  Toy Story (1995)               215

In [26]:
movie_features_df=rating_popular_movie.pivot_table(index='title'
                                                   ,columns='userId',
                                                   values='rating').fillna(0)
movie_features_df.head()

userId,1,2,3,4,5,6,7,8,9,10,...,601,602,603,604,605,606,607,608,609,610
title,,,,,,,,,,,,,,,,,,,,,
10 Things I Hate About You (1999),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,3.0,0.0,5.0,0.0,0.0,0.0,0.0,0.0
12 Angry Men (1957),0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,...,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2001: A Space Odyssey (1968),0.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,...,0.0,0.0,5.0,0.0,0.0,5.0,0.0,3.0,0.0,4.5
28 Days Later (2002),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.5,0.0,5.0
300 (2007),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,...,0.0,0.0,0.0,0.0,3.0,0.0,0.0,5.0,0.0,4.0

In [27]:
from scipy.sparse import csr_matrix

movie_features_df_matrix = csr_matrix(movie_features_df.values)

from sklearn.neighbors import NearestNeighbors


model_knn = NearestNeighbors(metric = 'cosine', algorithm = 'brute')
model_knn.fit(movie_features_df_matrix)

NearestNeighbors(algorithm='brute', leaf_size=30, metric='cosine',
         metric_params=None, n_jobs=None, n_neighbors=5, p=2, radius=1.0)

In [28]:
query_index = np.random.choice(movie_features_df.shape[0])
print(query_index)
distances, indices = model_knn.kneighbors(movie_features_df.iloc[query_index,:].values.reshape(1, -1), n_neighbors = 6)

2

In [29]:
for i in range(0, len(distances.flatten())):
    if i == 0:
        print('Recommendations for {0}:\n'.format(movie_features_df.index[query_index]))
    else:
        print('{0}: {1}, with distance of {2}:'.format(i, movie_features_df.index[indices.flatten()[i]], distances.flatten()[i]))

Recommendations for 2001: A Space Odyssey (1968):

1: Blade Runner (1982), with distance of 0.32926440238952637:
2: Alien (1979), with distance of 0.43005305528640747:
3: Apocalypse Now (1979), with distance of 0.4308894872665405:
4: Aliens (1986), with distance of 0.4363347887992859:
5: Clockwork Orange, A (1971), with distance of 0.43840235471725464: